<% content_for :title do %>About<% end %>
<h3>About Foodbar Kadigan</h3>
<p>Foorbar Kadigan originated in Waikikamukau, New Zealand. We serve organic New Zealand-cuisine that you probably never knew existed. Stop by for a cup of our original Queenstown-coffee or sit down for a meal that will make your mouth water.</p>
<p>We look forward to your business and for you to experience a taste of New-Zealand!</p>
